#audio {
    display: none;
}

.definitions {
    text-align: left;
}

.max-card-width {
    max-width: 500px;
    margin: auto;
}

.small-font {
    font-size: 10px;
}

.capitilize {
    text-transform: capitalize;
}